<mat-toolbar>
  <span>Add Activity</span>
</mat-toolbar>
<form [formGroup]="form" (add)="add()">

  <mat-form-field class="full-width" >
    <input matInput placeholder="Activity Photo">
    <mat-hint>Please upload your photo</mat-hint>
  </mat-form-field>

  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Activity Name" formControlName="name">
    <mat-error *ngFor="let validation of validation_messages.name">
      <mat-error class="error-message"
      *ngIf="form.get('name').hasError(validation.type) &&
      (form.get('name').dirty ||
      form.get('name').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <table class="full-width">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Professor" formControlName="professor">
          <mat-error *ngFor="let validation of validation_messages.professor">
            <mat-error class="error-message"
            *ngIf="form.get('professor').hasError(validation.type) &&
            (form.get('professor').dirty ||
            form.get('professor').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </td>
    <br>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Location" formControlName="location">
          <mat-error *ngFor="let validation of validation_messages.location">
            <mat-error class="error-message"
            *ngIf="form.get('location').hasError(validation.type) &&
            (form.get('location').dirty ||
            form.get('location').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </td>
      
    </tr>
    <tr>
      <td>
          <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngFor="let validation of validation_messages.Date">
                <mat-error class="error-message"
                *ngIf="form.get('Date').hasError(validation.type) &&
                (form.get('Date').dirty ||
                form.get('Date').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
      </td>
    <br>
      <td>
        <mat-form-field class="penInput">
          <input matInput placeholder="PeriodtimeStart (mm/dd/yyy)" formControlName="start">
          <mat-error *ngFor="let validation of validation_messages.start">
            <mat-error class="error-message"
            *ngIf="form.get('start').hasError(validation.type) &&
            (form.get('start').dirty ||
            form.get('start').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <span>-</span>
        <mat-form-field class="penInput" style="margin-left: 5px">
          <input matInput placeholder="PeriodtimeEnd (mm/dd/yyy)" formControlName="end">
          <mat-error *ngFor="let validation of validation_messages.end">
            <mat-error class="error-message"
            *ngIf="form.get('end').hasError(validation.type) &&
            (form.get('end').dirty ||
            form.get('end').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </td>
      
    </tr>
    
  </table>
  <mat-form-field class="full-width">
      <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>

  
  
  <div class="center">
    <button mat-button class="mat-raised-button" color="primary" (click)="add()" [disabled]="!form.valid">Add</button>
  </div>

</form>
