<mat-toolbar>
  <span>Edit Profile</span>
</mat-toolbar>
<form >
  <div class="center">
    <mat-card class="img-width">
        <mat-card-header>
            <mat-card-title>Image</mat-card-title>
        </mat-card-header>
        <img mat-card-image [attr.src]="student?.image" [alt]="student?.name">
    </mat-card>
</div>
<br>

  <mat-form-field class="full-width">
    <input matInput placeholder="Photo" [value]="student.image">
    <mat-hint>Please upload your photo</mat-hint>
  </mat-form-field>

  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id" [value]="student.studentId">
  </mat-form-field>

  <table class="full-width">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="First name" [value]="student.name">
        </mat-form-field>
      </td>
    <br>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Surname" [value]="student.surname">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="full-width">
    <!-- <input matInput [matDatepicker]="picker" placeholder="Date of birth" [value]="student.dob">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker> -->
    <input matInput placeholder="Date of birth" [value]="student.dob">
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Email" [value]="student.email"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Password" [value]="student.password"></textarea>
  </mat-form-field>

  <div class="center">
    <button mat-button class="mat-raised-button" color="primary" (click)="update()">Update</button>
  </div>

</form>
