<mat-toolbar>
    
      <span>Activity</span>
  </mat-toolbar>

  <form >
  
    <mat-form-field class="full-width">
      <input matInput placeholder="Activity Name" [value]="activity.activityname" >
    </mat-form-field>
  
    <table  class="full-width">
      <tr>
        <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Professor" [value]="activity.professor" >
            </mat-form-field>
        </td>
        
        <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Location" [value]="activity.location" >
            </mat-form-field>
        </td>
      </tr>
 
        <td>
            <mat-form-field class="penInput">
                <input matInput   placeholder="PeriodtimeStart" [value]="activity.periodstart"  >
            </mat-form-field>
            <span>-</span>
            <mat-form-field class="penInput" style="margin-left: 5px">
              <input matInput   placeholder="PeriodtimeEnd" [value]="activity.periodend"  >
          </mat-form-field>
        </td>
        <td>
            <mat-form-field class="penInput">
                <input matInput   placeholder="Date" [value]="activity.Date"  >
            </mat-form-field>
        </td>
          
    </table>
  
    <div class="center">
      <mat-card class="img-width">
        <mat-card-header>
          <div class="mat-card-header-text">
              <mat-card-title ></mat-card-title>
            <mat-card-title >Activity Image</mat-card-title>
          </div>
        </mat-card-header>
        <img class="mat-card-image" [src]="activity.image" [alt]="activity.image">
      </mat-card>
    </div>
  
    <mat-form-field class="full-width">

        <textarea matInput placeholder="Description" [value]="activity?.activitydescription" ></textarea>
    </mat-form-field>
    <div class="center">
        <button mat-raised-button [routerLink]="['/professor/list']" routerLinkActive="router-link-active" color="">  
          Back
        </button>
        <button mat-raised-button color="primary" (click)="update()" style="margin-left: 5px">Update</button>

    </div>
  </form>
