.sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav-content {
  background-color: 	#ffeeb9;
}

mat-toolbar {
  background-color: #7e4621;
}

h1:hover{
  color:	#ffeeb9;
}

.mat-button-wrapper {
  text-decoration: none !important;
}
a.mat-button {
  text-decoration: none;
}

mat-list-item{
 background-color: #ffeeb9;
}