<mat-toolbar>
    <span>Registration</span>
  </mat-toolbar>
  <form [formGroup]="form" (submit)="submit()">
  
    <mat-form-field class="full-width">
      <input matInput placeholder="Photo">
      <mat-hint>Please upload your photo</mat-hint>
    </mat-form-field>
  
    <br>
    <mat-form-field class="full-width">
      <input matInput placeholder="Student Id" formControlName="studentId">
      <mat-error *ngFor="let validation of validation_messages.studentId">
        <mat-error class="error-message"*ngIf="form.get('studentId').hasError(validation.type) && (form.get('studentId').dirty ||
        form.get('studentId').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
  
    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="name">
            <mat-error *ngFor="let validation of validation_messages.name">
              <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type) &&(form.get('name').dirty ||
              form.get('name').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </td>
      <br>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Surname" formControlName="surname">
            <mat-error *ngFor="let validation of validation_messages.surname">
              <mat-error class="error-message" *ngIf="form.get('surname').hasError(validation.type) && (form.get('surname').dirty ||
              form.get('surname').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="picker" placeholder="Date of birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Email" formControlName="email"></textarea>
      <mat-error *ngFor="let validation of validation_messages.email"> <mat-error class="error-message" *ngIf="form.get('email').hasError(validation.type) &&
        (form.get('email').dirty || form.get('email').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Password" formControlName="password"></textarea>
      <mat-error *ngFor="let validation of validation_messages.password">
        <mat-error class="error-message" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty ||
        form.get('password').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    
    <div class="center">
            <button mat-button class="mat-raised-button"  (click)="back()">Back</button>
            
      <button mat-button class="mat-raised-button" color="primary" (click)="submit()" style="margin-left: 5px" [disabled]="!form.valid">Submit</button>
    </div>
  
  </form>
  