<!-- <img src ="https://www.camt.cmu.ac.th/th/logo/camt_horizontal.png"> -->

<mat-grid-list cols="1" rowHeight="fit">
        <mat-grid-tile>
            <div class="form-login">
                <div class="example-container">
                    <!-- <img class="logo" src="../../../assets/images/camt-logo.jpg" /> -->
                    <h3 class="header-text">Learning Activity</h3>
                    <h5 class="header-text">Login</h5>
                    <mat-form-field color="warn">
                        <input matInput placeholder="Email" [formControl]="email" [(ngModel)]="username">
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        <!-- <input matInput placeholder="Email" [(ngModel)]="email" [type]="username"> -->
                    </mat-form-field>
                    <mat-form-field color="warn">
                        <input matInput placeholder="Password" [(ngModel)]="password" [type]="hide ? 'text' : 'password'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                    </mat-form-field>
                    <button class="login-button" mat-flat-button color="warn" (click)="login()">Login</button>
                    <button class="login-button" mat-flat-button color="warn" (click)="register()">Register</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>