<div ng-model="studentnav">
        <mat-toolbar class="nav" fixedInViewport>
          <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
            <span style="color: rgb(230, 208, 152)"> Learning Through Activity </span>
            <span class="nav-spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
              
              <a mat-button [routerLink]="['./list']" routerLinkActive="router-link-active">
                
                <h1>List All Activity</h1>
              </a>
              <!-- <a mat-button [routerLink]="['./add']" routerLinkActive="router-link-active">
                
                <h1>Add Student Detail</h1>
              </a> -->
              <a mat-button [routerLink]="['./enrolled']" routerLinkActive="router-link-active">
                
                <h1>Enrolled</h1>
              </a>
              <a mat-button [routerLink]="['./detail/1']" routerLinkActive="router-link-active">
                
                <h1>Student Detail</h1>
              </a>
              <a mat-flat-button color="warn" [routerLink]="['/main']" routerLinkActive="router-link-active">
                <h1>Log Out</h1>
            </a>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
        
        <mat-sidenav-container fxFlexFill>
          <mat-sidenav #sidenav>
            <mat-nav-list>
              <a mat-list-item [routerLink]="['./list']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                
                List All Activity
              </a>
              <!-- <a mat-list-item [routerLink]="['./add']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                
                Add Student Detail</a> -->
              <a mat-list-item [routerLink]="['./enrolled']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                
                Enrolled
              </a>
              <a mat-list-item [routerLink]="['./detail/1']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                
                Student Detail
              </a>
              <a mat-flat-button color="warn" [routerLink]="['/main']" routerLinkActive="router-link-active" style="margin-left: 25%">
                Log Out
            </a>
              
              
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill fixedInViewport>
              <router-outlet></router-outlet>
          </mat-sidenav-content>
        </mat-sidenav-container>
        </div>
